
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Deneyim Ekleme Sayfası</h4>
<br />
<form method="post">
    <br />
    <input type="text" name="BASLIK" class="form-control" placeholder="Başlığı Yazınız" />
    <br />
    <input type="text" name="ALTBASLIK" class="form-control" placeholder="Alt Başlığı Yazınız" />
    <br />
    <input type="text" name="TARİH" class="form-control" placeholder="Çalışma Tarihi" />
    <br />
    <textarea placeholder="Açıklamanızı Giriniz" name="ACIKLAMA" class="form-control" rows="5"></textarea>
    <br />
    <button class="btn btn-info ">Kaydet</button>
</form>
